<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/alinares94/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="alinares94" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>